body {
    background-color: #cdcdcd !important;
}
textarea{
resize: none !important;}
.border{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#showAlert{
    position: fixed; 
    bottom: 0; 
    right: 0;
    margin-bottom: 10px;
}
#userImg , .post_p_img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
#addPosts{
    width: 50px;
    height: 50px;
    color: white;
    background-color: rgb(90, 90, 255);
    font-weight: bold;
    border-radius: 50%;
    font-size: 40px;
    position: fixed;
    bottom: 10%;
    right: 5%;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    & p{
        position: absolute;
    top: 20px;
    left: 24px;
    transform: translate(-50%, -50%);
}
}

.file::file-selector-button{
    border-color: #a0a0a0;
    background-color: gray;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}
.file::file-selector-button:hover {
    background-color: #404040;
}

.comment_inp{
    width: 80%;
    border-radius: 30px;
    border: none;
    margin-left: 10px;
    padding-left: 15px;
}
.comment_inp::-moz-focus-outer{
    color: red;
}

.send{
    border-radius: 30px !important;
    margin-left: 15px;
}
#showimg{
    width: 40%;
    height: 40%;
}
.Profilesrc{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
@media screen and (max-width: 762px){
    .mobileWidth{
        margin-right: 10px !important;
    }
    .Profilesrc{
        width: 70px;
        height: 70px;
    }
    .infoSett{
        font-size: 12px;
        margin-top: 0 !important;
    }
    h4{
        font-size: 14px !important;
    }
    .postsMob{
        margin-left:45px !important ;
    }
    .number_info{
    font-size: 30px !important;
    }
    .Post_name{
        font-size: 17px !important;
        font-weight: 600 !important ;
            display: flex;
    }
    .post{
        width: 100% !important;
    }
    .navmenu{
        width: 100% !important;
    }
}
.infoSett{
    margin-left: 5px;
    align-content: center;
    margin-top: 1.5%;
}
h4{
    margin: 0 !important;
}
.number_info{
    font-weight: 500;
    font-size: 50px;
}
.Post_name{
    color: #6B7280;
    font-weight: 800;
    font-size: 20px;
}
.loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite
    }
    .loader::before , .loader::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid #FFF;
        animation: prixClipFix 2s linear infinite ;
    }
    .loader::after{
        border-color: #FF3D00;
        animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
    }

    @keyframes rotate {
        0%   {transform: rotate(0deg)}
        100%   {transform: rotate(360deg)}
    }

    @keyframes prixClipFix {
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
        100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
    }

#LoaderStyle{
        display: flex;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    z-index: 999;
    background: #000000a1;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
